.categories{
    height: 200px;
    overflow-y: scroll;
   
}
li{
    list-style: none;
}
.cat:hover{
    text-decoration: underline;
    cursor: pointer;
   
}
.cat{
    padding-left: 6px;
    font-size: 12px;
    
}
ul{
    padding-left: 8px;
}
a{
    cursor: pointer;
}
a:hover{
    text-decoration: underline !important;
}

a::before{
    content: "|_";
    
    margin-right: 2px;
}
@media screen and (max-width: 860px) {
    ul{
    padding-top: 8px;
    padding-bottom: 8px;
    }
}