.main-container{
    background-color: white;
   
}

li{
    list-style: none;
}
.product-list-container{
    text-align: center;
   
    
}
.product-name{
    font-size: 11px;
    overflow: hidden;
   text-overflow: ellipsis;
  width: 180px;
  
}
.product-price{
    font-weight: 600;
}
.store{
    margin: 20px 0 20px 0;
}
.item{
   
   padding-left: 5px;
   padding-right: 5px;
    height: 90px;
    padding-top: 10px;
   border-right: 1px solid #ffffff;
}