
.container{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
}
.sidebar{
    
    background-color: #fff;
    
    margin-right: 10px;
    height: fit-content;
    border-radius: 5px;   
}
.card-list-container{
   
}
.brands{
    
    padding: 15px;
    
}

.categories{
    
    padding: 15px;
}
.card-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
@media screen and (max-width: 1200px) {
    .card-list{
       
        grid-template-columns: repeat(4, 1fr) ;
    }
}
@media screen and (max-width: 1000px) {
    .card-list{
       
        grid-template-columns: repeat(3, 1fr) ;
    }
}
@media screen and (max-width: 860px) {
    .card-list{
       
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .card-list{
       
        grid-template-columns: repeat(3, 1fr);
    }
    .container{
        display: inline;
    }
    .sidebar{ width: 100%;}
}
.price-slider{
    margin-top: 50px;
    padding: 15px;
}
h2{
    margin-top: 2rem;
}
span{
    margin-left: 1.5rem;
    

}
.next{
    cursor: pointer;
}

view-result-card{
    padding: 5px;
    
}
.image-not-results{
    width: 30%;
}
.product-head{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 8px;
    border-radius: var(--border-radius-md);
    margin-bottom: 10px;
}

