

<header>
  <div class="header-main">
    <div class="container-nav">
      <ng-container *ngIf="uiService.resize$|async as size">
        <div
          *ngIf="size?.width<860"
          clickOutside
          (onClickOutside)="showCategories = false"
          openModal
          [appOscurecerPagina]="showCategories"
        >
          <mat-icon (click)="getMenuCategories()" fontIcon="menu"></mat-icon>

          <div
            *ngIf="showCategories"
            class="mobile-categories-menu"
            [@sidebarTrigger]="showCategories ? 'open' : 'close'"
          >
            <div class="mt-3">
              Categorias
            </div>
            <app-menu-mobile
              (closeMenu)="showCategories = $event"
              [menuCategories]="menuCategories"
            ></app-menu-mobile>
          </div>
        </div>
      </ng-container>

      <a href="#" class="header-logo">
        <img
          src="../../../assets/img/comparame esta.png"
          alt="comparame esta"
          width="120"
          height="36"
        />
      </a>
      <ng-container *ngIf="uiService.resize$|async as size">
        <div *ngIf="size?.width>=860">
          <div
            clickOutside
            (onClickOutside)="showDesktopMenu = false"
            openModal
            [appOscurecerPagina]="showDesktopMenu && size?.width>=860"
            
          >
            <mat-icon class="desktop-menu-icon" (click)="showDesktopMenu = !showDesktopMenu" fontIcon="menu-rounded"></mat-icon>
            <div [@sidebarTrigger]="showDesktopMenu ? 'open':'close'" class="menu">
              <app-menu *ngIf="showDesktopMenu" (closeMenu)="showDesktopMenu = $event"></app-menu>
            </div>
          </div>
        </div>
      </ng-container>
      
        <div class="search-field">
          <search-bar></search-bar>
        </div>
      

      <user-buttoms></user-buttoms>
    </div>
  </div>

 

  <div class="mobile-bottom-navigation">
    <div
          clickOutside
          (onClickOutside)="showLoginMobile = false"
          openModal
          [appOscurecerPagina]="showLoginMobile"
        >
          <button class="action-btn" (click)="showLoginMobile = !showLoginMobile">
            <mat-icon fontIcon="person"></mat-icon>
          </button>

          <div *ngIf="showLoginMobile" class="auth">
            <app-login
              *ngIf="flag"
              (loginOK)="showLoginMobile=$event"
              (signup)="flag = false"
            ></app-login>
            <app-register
              *ngIf="!flag"
              (signinOK)="flag= $event"
              (Signin)="flag = true"
            ></app-register>
          </div>
        </div>

    <button class="action-btn">
      <mat-icon fontIcon="bag"></mat-icon>

      <span class="count">0</span>
    </button>

    <div
      clickOutside (onClickOutside)="[showFilters = false]"
      openModal [appOscurecerPagina]="showFilters "
    >
      <button class="action-btn" (click)="showFilters = !showFilters">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
      <div class="filters">
        <app-menu-filter *ngIf="showFilters"></app-menu-filter>
      </div>
    </div>
  </div>

 
</header>
