
<header class="header">
  <div class="header-main">
    <div class="container-nav">
      <ng-container *ngIf="uiService.resize$|async as size">
        <div
          *ngIf="size?.width<860"
          clickOutside
          (onClickOutside)="showCategories = false"
          openModal
          [appOscurecerPagina]="showCategories"
          class="mobile-menu-trigger"
        >
          <mat-icon (click)="showCategories = !showCategories" fontIcon="menu" class="menu-icon"></mat-icon>

          <div
            *ngIf="showCategories"
            class="mobile-categories-menu"
            [style.height.px]="windowHeight"
            [@sidebarTrigger]="showCategories ? 'open' : 'close'"
          >
            <div class="category-title">
              Categorias
            </div>
            <app-menu-mobile
              (closeMenu)="showCategories = $event"
              [menuCategories]="menuCategories"
            ></app-menu-mobile>
          </div>
        </div>
      </ng-container>

      <a routerLink="/" class="header-logo">
        <img
          src="../../../assets/img/comparame esta.png"
          alt="comparame esta"
          width="120"
          height="36"
        />
      </a>
      
      <ng-container *ngIf="uiService.resize$|async as size">
        <div *ngIf="size?.width>=860" class="desktop-menu-container">
          <div
            clickOutside
            (onClickOutside)="showDesktopMenu = false"
            openModal
            [appOscurecerPagina]="showDesktopMenu && size?.width>=860"
          >
            <mat-icon class="desktop-menu-icon" (click)="showDesktopMenu = !showDesktopMenu" fontIcon="menu-rounded"></mat-icon>
            <div [@sidebarTrigger]="showDesktopMenu ? 'open':'close'" class="menu">
              <app-menu *ngIf="showDesktopMenu" [menuCategories]="menuCategories" (closeMenu)="showDesktopMenu = $event"></app-menu>
            </div>
          </div>
        </div>
      </ng-container>
      
      <div class="search-field">
        <search-bar></search-bar>
      </div>

      <user-buttoms (onClickAuth)="onRegister($event)" [emailConfirm]="showLogin" class="user-controls"></user-buttoms>
    </div>
  </div>
</header>
