<app-navbar></app-navbar>
<div class="container">

    <div class="product-details">
        <div class="product-card">
            <div class="photo">
                <mat-icon [style.color]="isFavoriteSelected ? 'pink': ''" (click)="favoriteSelected(product._id)" class="favorite-icon" fontIcon="favorite"></mat-icon>
                <img [src]="product.link_img">
                
        
                  
              </div>
              <div class="description">
                <h3>{{product.name.slice(0, 75)}}</h3>
                <h1 class="price"> {{product.price | currency:'COP':'$ ' : '1.0-0'}}</h1>
                <div class="spe" *ngFor="let spe of productDescription | keyvalue; let i=index" >
                    <div><span *ngIf="spe.key !=i">{{spe.key}}:</span><span>{{spe.value}}</span></div>
                </div>
                    <div *ngIf="isPartesPc">
                        <a [href]="product.url">Ir a tienda</a>
                        </div>
                
              </div>
           
        </div>
        <div class="store-list-container">
           
            <div *ngFor="let store of stores" class="store-list">
               
                <div class="p-store">{{store.store.toUpperCase()}} </div>
                <div class="p-name">{{store.name.slice(0, 75)}}</div>
                <div class="p-price">{{store.price | currency:'COP':'$ ' : '1.0-0'}}</div>
                <div><a [href]="store.url"> Ir a tienda</a></div>

             </div>
            
            </div>
        
            
            
            </div>
            
            <div>
        
                <price-history-chart [data]="productData"></price-history-chart>
            </div>
  
                
    <h2>Productos Similares</h2>    
    
    <product-carousel [isPartesPc]="isPartesPc" [products]="productList"></product-carousel>
</div>