<app-navbar></app-navbar>

    <header-carousel [carouselImg]="carouselImg" (goTo)="navigateTo($event)"></header-carousel>
    <div class="home-tecnologia">
        <div class="">
        </div>
        <product-carousel [products]="productsDiscount" [title]="'Ofertas'"></product-carousel>

    </div>
    
    
    
    <!-- <product-carousel></product-carousel> -->
    

<div class="home-partes-pc mt-4">
   
    <product-carousel [products]="partesPc" [title]="'Partes de pc'"></product-carousel>
    
</div>

