

<div class="prices">
    <div>
        <label class="me-2 price-value-slider">{{minValue | currency:'COP':'$ '}}</label>
    
    </div>
    <div>
        <label class="ms-2 price-value-slider">{{maxValue | currency:'COP':'$ '}}</label>
    
    </div>

</div>
<mat-slider 
(change)="onSliderChanges()"
class="price-slider"
[disabled]="disabled"
[max]="max"
[min]="min"
[step]="step"
[discrete]="thumbLabel"
[showTickMarks]="showTicks">

    <input [(ngModel)]="minValue" matSliderStartThumb>
    <input [(ngModel)]="maxValue" matSliderEndThumb>
    
</mat-slider>