.price-slider-container{
  padding: 8px;
}

.price-slider{
  
  --mdc-slider-handle-color: var(--filter-thumb-scroll--background);
  --mdc-slider-active-track-color: var( --filter-track-scroll-background);
  --mdc-slider-inactive-track-color: var( --filter-track-scroll-background);
  --mdc-slider-active-track-height: 10px;
  
  --mdc-slider-inactive-track-height: 10px;
  --mdc-slider-handle-height: 15px;
  --mdc-slider-handle-width: 15px;
  --mdc-slider-inactive-track-shape: 10px;
  width: 92%;
  
}
.price-value-slider{
  font-size: 10px;
}
.prices{
  display: flex;
  justify-content: space-between;
}