<div class="menu_container">
    <div class="d-flex">
        <div class="menu">
            <div class="menu_items" [ngClass]="m.key == selected ? 'select' : ''" *ngFor="let m of menu | keyvalue" (mouseover)="showSubmenu(m.key)">
                {{m.key}}
            </div>
            
        </div>
        <div class="d-flex flex-column submenu_container">
            <div>
    
                <div class="submenu d-flex" *ngIf="selected == 'Mercado'" (mouseover)="showSubmenu(selected)">
                    <div class="list">
                        <h6>Mercado</h6>
                        <div (click)="getCategory(sm)" class="submenu_items" *ngFor="let sm of menu?.Mercado.despensa">
                        {{sm}}
                        </div>
        
                    </div>
                    <div class="list">
                        <h6>Leche huevos y refrigerados</h6>
                        <div (click)="getCategory(sm)" class="submenu_items" *ngFor="let sm of menu?.Mercado.leche_huevos_refrigerados">
                        {{sm}}
                        </div>
        
                    </div>
                </div>
            </div>
            <div>
    
                <div class="submenu d-flex" *ngIf="selected == 'Mercado'" (mouseover)="showSubmenu(selected)">
                    <div class="list">
                        <h6>Pollo Carne y Pescado</h6>
                        <div (click)="getCategory(sm)" class="submenu_items" *ngFor="let sm of menu?.Mercado.pollo_carne_pescado">
                        {{sm}}
                        </div>
        
                    </div>
                    <div class="list">
                        <h6>Panaderia y Reposteria</h6>
                        <div (click)="getCategory(sm)" class="submenu_items" *ngFor="let sm of menu?.Mercado.panaderia_reposteria">
                        {{sm}}
                        </div>
        
                    </div>
                </div>
            </div>

        </div>
    
    </div>

</div>
